<!DOCTYPE html>
<html>

<head>
	<%- include('partials/Head.ejs') %>
</head>

<body>
	<header>
		<%- include('partials/Header.ejs') %>
	</header>
	<div class="beat-room" id="root">
		<main class="instruments-container">
			<button class="pause-and-play" type="button" id="play" aria-label="Play">
				<svg class="play-svg" id="play-svg" width="88" height="112" viewBox="0 0 88 112" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M0 8.86004V103.14C0 109.512 7.08582 113.326 12.4048 109.818L83.875 62.6782C88.6687 59.5164 88.6687 52.4836 83.875 49.3218L12.4048 2.18187C7.08582 -1.32637 0 2.48832 0 8.86004Z" fill="white"/>
				</svg>
				<svg class="pause-svg" id="pause-svg" width="66" height="109" viewBox="0 0 66 109" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect width="22" height="109" rx="8" fill="white"/>
					<rect x="44" width="22" height="109" rx="8" fill="white"/>
				</svg>
			</button>
			<label class="bpm-label">
				Bpm:
				<input 
					id="bpm"
					type="number"
					name="bpm"
					value="120"
					min="1"
					max="300"
					>
			</label>
			<% instrumentSamplesArray.forEach(instrument => { %>
				<h2><%= instrument.instrument %></h2>
				<div class="instrument-container">
					<div class="timeline">
						<% for( let index = 0; index < 16; index++ ) { %>
							<div class="timeline-item"></div>
						<% } %>
					</div>
					<% instrument.samples.forEach(sample => { %>
						<div class="sample">
							<p class="sample-name"><%= sample.sampleName %></p>
							<div class="samples-container">
								<label>
									<input type="checkbox" name=""  class="audio-input <%= sample.sampleName %>" data-audio="<%= sample.sampleName %>">
									<p>1</p>
								</label>
								<label>
									<input type="checkbox" name="" class="audio-input <%= sample.sampleName %>" data-audio="<%= sample.sampleName %>">
									<p>2</p>
								</label>
								<label>
									<input type="checkbox" name="" class="audio-input <%= sample.sampleName %>" data-audio="<%= sample.sampleName %>">
									<p>3</p>
								</label>
								<label>
									<input type="checkbox" name="" class="audio-input <%= sample.sampleName %>" data-audio="<%= sample.sampleName %>">
									<p>4</p>
								</label>
								<label>
									<input type="checkbox" name="" class="audio-input <%= sample.sampleName %>" data-audio="<%= sample.sampleName %>">
									<p>5</p>
								</label>
								<label>
									<input type="checkbox" name="" class="audio-input <%= sample.sampleName %>" data-audio="<%= sample.sampleName %>">
									<p>6</p>
								</label>
								<label>
									<input type="checkbox" name="" class="audio-input <%= sample.sampleName %>" data-audio="<%= sample.sampleName %>">
									<p>7</p>
								</label>
								<label>
									<input type="checkbox" name="" class="audio-input <%= sample.sampleName %>" data-audio="<%= sample.sampleName %>">
									<p>8</p>
								</label>
								<label>
									<input type="checkbox" name="" class="audio-input <%= sample.sampleName %>" data-audio="<%= sample.sampleName %>">
									<p>9</p>
								</label>
								<label>
									<input type="checkbox" name="" class="audio-input <%= sample.sampleName %>" data-audio="<%= sample.sampleName %>">
									<p>10</p>
								</label>
								<label>
									<input type="checkbox" name="" class="audio-input <%= sample.sampleName %>" data-audio="<%= sample.sampleName %>">
									<p>11</p>
								</label>
								<label>
									<input type="checkbox" name="" class="audio-input <%= sample.sampleName %>" data-audio="<%= sample.sampleName %>">
									<p>12</p>
								</label>
								<label>
									<input type="checkbox" name="" class="audio-input <%= sample.sampleName %>" data-audio="<%= sample.sampleName %>">
									<p>13</p>
								</label>
								<label>
									<input type="checkbox" name="" class="audio-input <%= sample.sampleName %>" data-audio="<%= sample.sampleName %>">
									<p>14</p>
								</label>
								<label>
									
									<input type="checkbox" name="" class="audio-input <%= sample.sampleName %>" data-audio="<%= sample.sampleName %>">
									<p>15</p>
								</label>
								<label>
									<input type="checkbox" name="" class="audio-input <%= sample.sampleName %>" data-audio="<%= sample.sampleName %>">
									<p>16</p>
								</label>
								<audio id="<%= sample.sampleName %>" src="/samples/<%= instrument.instrument %>/<%= sample.sampleFileName %>"></audio>
							</div>
						</div>
					<% }) %>
				</div>
			<% }) %>
		</main>
		<section class="user-list" id="user-list">
			<h2>Users</h2>
		</section>
		<%- include('partials/UsernameForm.ejs') %>
	</div>
</body>

</html>